<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.egfootballtracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EGFootballTracker">
        <activity
            android:name=".View.InfoActivity"
            android:exported="false" />
        <activity
            android:name=".View.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".View.HomepageActivity"
            android:exported="false" />
        <activity
            android:name=".View.PlayerStatisticActivity"
            android:exported="false" />
        <activity
            android:name=".View.DisplayPlayersDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".View.AddPlayerDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".View.AddMatchActivity"
            android:exported="false" />
        <activity
            android:name=".View.RegisterActivity"
            android:exported="false" />
        <activity android:name=".View.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>